<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/style_min.css">
  <!-- jQuery 추가 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>S'MoreDeep</title>
</head>
<body>
<div class="footer">
    <div class="btn">
      <a href="#">
        <img src="images/user.svg">
        <div class="name">LOGIN</div>
      </a>
    </div>
    <div class="btn">
      <a href="#">
        <img src="images/home.svg">
        <div class="name">HOME</div>
      </a>
    </div>
    <div class="btn">
      <a href="#">
        <img src="images/chat.svg">
        <div class="name">S'MORE</div>
      </a>
    </div>
</div>

</body>
</html>