<!DOCTYPE html>

<!-- thymeleaf 사용을 위해 코드 작성 , 타임리프 문법사용을 위해 th 사용 -->
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="assets/css/style_min.css">
<!-- jQuery 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>S'MoreDeep</title>
</head>
<body>
<div class="footer">

	<div th:if="${session.user} != null" class="custom-btn">
		<a href="/logout"> <img src="images/user.svg" class="img">
			<div class="name">LOGOUT</div>
		</a>
	</div>
	<div th:unless="${session.user} != null" class="custom-btn">
		<a href="/loginForm"> <img src="images/user.svg" class="img">
			<div class="name">LOGIN</div>
		</a>
	</div>

	<div class="custom-btn">
		<a href="/lecture_list"> <img src="images/home.svg" class="img">
			<div class="name">HOME</div>
		</a>
	</div>
	
	<div class="custom-btn">
		<a href="/chatbot"> <img src="images/chat.svg" class="img">
			<div class="name">S'MORE</div>
		</a>	
	</div>
	
	<div th:if="${session.user} != null" class="custom-btn">
		<a href="/mypage"> <img src="images/heart.svg" class="img">
			<div class="name">MYPAGE</div>
		</a>	
	</div>
</div>

</body>
</html>