<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/style_min.css">
  <!-- jQuery 추가 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>S'MoreDeep</title>
</head>
<body>
<div th:replace="~{/header :: body}"></div>
<div class="content lecture-list">

    <form method="post" id="search-form">
      <div class="search">
        <input type="text" class="search-input" placeholder="검색">
        <input type="submit" class="search-btn" value="">
      </div>
    </form>

    <div class="category">
      <ul class="slides">
        <li class="focus"><a href="#" class="activetop">전체</a></li>
        <li><a href="#">프론트엔드</a></li>
        <li><a href="#">백엔드</a></li>
        <li><a href="#">프로그래밍언어</a></li>
        <li><a href="#">알고리즘·자료구조</a></li>
        <li><a href="#">데브옵스·인프라</a></li>
        <li><a href="#">데이터베이스</a></li>
        <li><a href="#">웹개발</a></li>
        <li><a href="#">모바일앱개발</a></li>
        <li><a href="#">개발도구</a></li>
        <li><a href="#">개발·프로그래밍기타</a></li>
        <li><a href="#">풀스택</a></li>
        <li><a href="#">데스크톱앱개발</a></li>
      </ul>
    </div> <!-- end category -->

	<!-- 검색필터 -->
	<div class="search-list">
      <!-- 난이도 -->
      <div class="search-level">
        <select id="search-level" name="search-level" required>
          <option value="">난이도</option>
          <option value="입문">입문</option>
          <option value="초급">초급</option>
          <option value="중급이상">중급이상</option>
        </select>
      </div>
      <!-- 강의시간 -->
      <div class="search-schedule">
        <select id="search-schedule" name="search-schedule" required>
          <option value="">강의시간</option>
          <option value="2">2시간 이하</option>
          <option value="4">4시간</option>
          <option value="8">8시간</option>
          <option value="12">12시간 이상</option>
        </select>
      </div>
    </div>

    <div class="product">
    <div class="one-product" th:each="course, loop : ${paging}">
        <div class="thumb">
          <a th:href="@{{url}(url=${course.courseUrl})}"></a>
           <img th:src="${course.courseImg}" alt="">
        </div>
        <div class="info">
          <div class="title" th:text="${course.courseNm}"></div>
			<div class="sub">
            <div class="date" th:text="수강기간">
              <span th:text="{coruse.courseTm}"></span>
            </div>
            <div class="positive">👍78%</div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
    
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}" class="page">
        <ul class="pagination justify-content-center">
            <!-- <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'"> -->
            <li class="page-item" th:unless=${!paging.hasPrevious}>
                <a class="page-link"
                    th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" 
                th:if="${page >= paging.number-2 and page <= paging.number+2}"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <!-- <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'"> -->
            <li class="page-item" th:unless=${!paging.hasNext}>
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->    
    
  </div>

<div th:replace="~{/footer :: body}"></div>
<script src="assets/js/main_min.js"></script>
</body>
</html>