<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="assets/css/style_min.css">

  <title>S'MoreDeep</title>
</head>
<body>
  <div class="header">
    <a href="#" class="title">S'MoreDeep</a>
  </div>

  <div class="lecture-list content">

    <form method="post" id="search-form">
      <div class="search">
        <input type="text" class="search-input" placeholder="검색">
        <input type="submit" class="search-btn" value="">
      </div>
    </form>

    <div class="category">
      <ul class="slides">
        <li class="focus"><a href="#" class="activetop">전체메뉴</a></li>
        <li><a href="#">개발·프로그래밍</a></li>
        <li><a href="#">게임개발</a></li>
        <li><a href="#">데이터사이언스</a></li>
        <li><a href="#">인공지능</a></li>
        <li><a href="#">보안·네트워크</a></li>
        <li><a href="#">하드웨어</a></li>
        <li><a href="#">디자인·아트</a></li>
        <li><a href="#">기획·경영·마케팅</a></li>
        <li><a href="#">업무생산성</a></li>
        <li><a href="#">커리어·자기계발</a></li>
        <li><a href="#">대학교육</a></li>
      </ul>
    </div> <!-- end category -->

    <div class="product">
      <div class="one-product">
        <div class="thumb">
          <a href="#"></a>
          <img src="images/thumb1.png" alt="">
        </div>
        <div class="info">
          <div class="title">누구나 할 수 있는 웹사이트 제작 전문가 - Java Script</div>
          <div class="sub">
            <div class="date">
              수강기간<span>100일</span>
            </div>
            <div class="positive">78%</div>
          </div>
        </div>
      </div>

      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb2.png" alt="">
        </div>
        <div class="info">
          <div class="title">서버 개발자가 되는 가장 빠른 길, Node.js & Express.js</div>
          <div class="sub">
            <div class="date">
              수강기간<span>50일</span>
            </div>
            <div class="positive">32%</div>
          </div>
        </div>
      </div>

      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb3.png" alt="">
        </div>
        <div class="info">
          <div class="title">한 방에 끝내는 Java & Spring Boot 웹 개발 마스터코스</div>
          <div class="sub">
            <div class="date">
              수강기간<span>200일</span>
            </div>
            <div class="positive">98%</div>
          </div>
        </div>
      </div>

      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb4.png" alt="">
        </div>
        <div class="info">
          <div class="title">REST API 제대로 배우기! 실무 중심의 백엔드 개발</div>
          <div class="sub">
            <div class="date">
              수강기간<span>150일</span>
            </div>
            <div class="positive">71%</div>
          </div>
        </div>
      </div>

      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb5.png" alt="">
        </div>
        <div class="info">
          <div class="title">Full-Stack 개발 입문: React & Spring Boot로 실전 프로젝트 만들기</div>
          <div class="sub">
            <div class="date">
              수강기간<span>50일</span>
            </div>
            <div class="positive">47%</div>
          </div>
        </div>
      </div>

      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb6.png" alt="">
        </div>
        <div class="info">
          <div class="title">한 방에 끝내는 Java</div>
          <div class="sub">
            <div class="date">
              수강기간<span>30일</span>
            </div>
            <div class="positive">86%</div>
          </div>
        </div>
      </div>
      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb5.png" alt="">
        </div>
        <div class="info">
          <div class="title">Full-Stack 개발 입문: React & Spring Boot로 실전 프로젝트 만들기</div>
          <div class="sub">
            <div class="date">
              수강기간<span>50일</span>
            </div>
            <div class="positive">47%</div>
          </div>
        </div>
      </div>

      <div class="one-product">
        <div class="thumb">
          <img src="images/thumb6.png" alt="">
        </div>
        <div class="info">
          <div class="title">한 방에 끝내는 Java</div>
          <div class="sub">
            <div class="date">
              수강기간<span>30일</span>
            </div>
            <div class="positive">86%</div>
          </div>
        </div>
      </div>
      
    </div> <!-- end product -->
  </div>

  <!-- 카테고리 슬라이드 -->
  <script>
    var on = $('.slides').find('.activetop').index();
    var options = {
      horizontal: 1,
      mouseDragging: 1,
      touchDragging: 1,
    };
    var frame = new Sly('.category', options).init();

    $('.category .slides li').on("click", function(){
      $('.category .slides li').removeClass("focus");
      $(this).addClass("focus");
    })
  </script>

  
  </div>

  <div class="footer">
    <div class="btn">
      <a href="#">
        <img src="images/user.svg">
        <div class="name">LOGIN</div>
      </a>
    </div>
    <div class="btn">
      <a href="#">
        <img src="images/home.svg">
        <div class="name">HOME</div>
      </a>
    </div>
    <div class="btn">
      <a href="#">
        <img src="images/chat.svg">
        <div class="name">S'MORE</div>
      </a>
    </div>
  </div>
</body>
</html>