<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/style_na.css">
  <script src="assets/js/main_na.js"></script>
  <!-- jQuery 추가 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>S'MoreDeep</title>
</head>
<body>
	<div class="container">
		<div class="title">로그인</div>
		<div class="tabs">
			<button class="tab-button active" onclick="switchTab('user')">일반</button>
			<button class="tab-button" onclick="switchTab('admin')">관리자</button>
		</div>

		<form id="user" action="/submit_login_user" method="POST"
			class="hidden">
			<div class="login">
				<input type="identifier" name="user_id" placeholder="이메일 또는 아이디"
					required>
			</div>
			<div class="login">
				<input type="password" name="user_password" placeholder="비밀번호"
					required>
			</div>
			<div class="find-pw">
				<a href="#">비밀번호를 잊어버리셨나요?</a>
			</div>
		</form>

		<form id="admin" action="/submit_login_admin" method="POST">
			<div class="login">
				<input type="identifier" name="admin_id" placeholder="이메일 또는 아이디"
					required>
			</div>
			<div class="login">
				<input type="password" name="admin_pw" placeholder="비밀번호" required>
			</div>
			<div class="find-pw">
				<a href="#">비밀번호를 잊어버리셨나요?</a>
			</div>
		</form>

		<button type="submit" class="button">로그인</button>

		<div class="separator">
			<span>------------------------ 또는 -------------------------</span>
		</div>

		<div class="image-links">
			<a
				href="https://accounts.kakao.com/login/?continue=https%3A%2F%2Fsharer.kakao.com%2Fpicker%2Flink%3Fapp_key%3D4e0f02e43248fed6c5850431ea527a61%26short_key%3D1631dc23-0885-44cc-982b-f7135a1e0e3e#login">
				<img src="images/kakao.png" alt="kakao">
			</a> <a
				href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2F%3Fhl%3Dko&ec=GAZAmgQ&hl=ko&passive=true&ifkv=AXH0vVuFaD-M0ZXkG91tFqJeDmqhMEDsUvqvA1rSxwDYjoKP5PsY7yKjFYsND4kaX925UtQHiIzuRw&ddm=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
				<img src="images/google.png" alt="google">
			</a>
		</div>

		<button type="submit" class="join-btn">회원가입</button>

	</div>

</body>
</html>