<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/style_na.css">
  <link rel="stylesheet" href="assets/css/style_min.css">
  <script src="assets/js/main_na.js"></script>
  <!-- jQuery 추가 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>S'MoreDeep</title>
</head>
<body>
	<div class="container">
		<div class="title">로그인</div>
		<div class="tabs">
			<button class="tab-button active" onclick="location.href='/loginForm'">일반</button>
			<button class="tab-button" onclick="switchTab('admin')">관리자</button>
		</div>
		
		<form id="user" action="/submit_login_user" method="POST">
			<div class="login">
				<input type="identifier" name="user_id"  placeholder="이메일 또는 아이디" required>
			</div>
			<div class="login">
				<input type="password" name="user_pw"  placeholder="비밀번호" required>
			</div>
			<div class="find-pw">
				<a href="#">비밀번호를 잊어버리셨나요?</a>
			</div>
			<!-- 오류 메시지 표시 -->
       		<div class="error-message" th:if="${error}">
        	  <p th:text="${error}" style="color: red;"></p>
     		</div>
			<button type="submit"  class="button">로그인</button>					 
		</form>
		
		<form id="admin" action="/submit_login_admin" method="POST" class="hidden">
			<div class="login">
				<input type="identifier" name="admin_id" placeholder="이메일 또는 아이디" required>
			</div>
			<div class="login">
				<input type="password" name="admin_pw" placeholder="비밀번호" required>
			</div>
			<div class="find-pw">
				<a href="#">비밀번호를 잊어버리셨나요?</a>
			</div>
			<button type="submit" class="button">로그인</button> 
		</form>
		<div class="separator">
			<span>------------------ 또는 -------------------</span>
		</div>

		<div class="image-links">
			<a href="https://kauth.kakao.com/oauth/authorize?client_id=0814623f049ae3fd6b80e81bd3ab74d9&redirect_uri=http://223.130.151.183:8083/login&response_type=code&prompt=login">
				<img src="images/kakao.png" alt="kakao"></a> 
			
			<a href="/oauth2/authorization/google">
				<img src="images/google.png" alt="google"></a>
		</div>
		<button type="button" class="join-btn" onclick="location.href='/join'">회원가입</button>

	</div>
</body>
</html>