<!DOCTYPE html>
<html lang="ko">
<!--xmlns:th="http://www.thymeleaf.org">-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="assets/css/style_na.css">
<title>S'MoreDeep</title>
</head>
<body>

	<div class="container">
		<div class="title">마이페이지</div>
		<form action="/submit_mypage" method="POST">

			<div class="mypage">
				<label for="id">아이디</label> <input type="input"
					id="user_id" th:value="${session.user.get().getUserId()}" readonly />
					
					<input type="input" name="user_id" 
					th:value="${session.user.get().getUserId()}" hidden="true" />
			</div>

			<div class="course">
				<label for="category">관심과목 (선택사항)</label> <select
					id="course_category" name="course_category">
					<option th:value="${session.user.get().getCourseCategory()}"
						th:text="${session.user.get().getCourseCategory()}"></option>
					<option value="개발‧프로그래밍">개발‧프로그래밍</option>
					<option value="게임 개발">게임개발</option>
					<option value="데이터 사이언스">데이터 사이언스</option>
					<option value="인공지능">인공지능</option>
				</select>
			</div>

			<div class="course2">
				<div class="course-item">
					<label for="level">난이도 (선택사항)</label> <select id="course_level"
						name="course_level">
						<option th:value="${session.user.get().getCourseLevel()}"
							th:text="${session.user.get().getCourseLevel()}"></option>
						<option value="입문">입문</option>
						<option value="초급">초급</option>
						<option value="중급 이상">중급 이상</option>
					</select>
				</div>
				<div class="course-item">
					<label for="term">강의시간 (선택사항)</label> <select id="course_term"
						name="course_tm">
						<option th:value="${session.user.get().getCourseTm()}"
							th:text="${session.user.get().getCourseTm()}"></option>
						<option value="2hour">2hour</option>
						<option value="4hour">4hour</option>
						<option value="8hour">8hour</option>
						<option value="12hour">12hour</option>
					</select>
				</div>
			</div>

			<button type="submit" class="button">회원정보 수정</button>

		</form>
	</div>


</body>
</html>