@charset "UTF-8";

:root {
  --main : #E49434;
  --logo : #773E16;
  --gray : #F5F5F5;
  --font--style : 'pretendard';
  --line : #D9D9D9;
}

*, a, ul, li, div, p {
  text-decoration: none;
  color: #333333;
}
html {
  scroll-behavior:smooth;
  overflow-y: scroll;
}
input, select {
  font-family: var(--font--style);
}
body {
  font-family: var(--font--style);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.header {
  width: 100%;
  height: 80px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
}
.header .title {
  color: var(--logo);
  font-size: 32px;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: var(--gray);
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.footer .custom-btn {
  text-align: center;
  padding: 30px 40px;
  cursor: pointer;
  position: relative;
  display: block;
}
.footer .custom-btn a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  
}
.footer .custom-btn .img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
  vertical-align: middle;
}
.footer .custom-btn .name {
  line-height: 1;
  margin-top: 5px;
}

/* 강의 목록 검색--------------------------------------------- */
.content {
  flex-grow: 1;
  margin: 100px 16px;
}

.lecture-list .search{
  border: 2px solid var(--gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.lecture-list .search-input {
  width: 100%;
  padding: 10px 16px;
  background: var(--gray);
  border: none;
  outline: none;
  color: #333333;
  font-family: var(--font--style);
}
.lecture-list .search-btn {
  display: block;
  background:transparent url('../../images/search.svg') center center no-repeat;
  background-color: var(--gray);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
.lecture-list .search-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.lecture-list .search-list .search-level,
.lecture-list .search-list .search-schedule {
  width: 100%;
  position: relative;
}
.lecture-list .search-list .search-level::after,
.lecture-list .search-list .search-schedule::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.lecture-list .search-list select {
  padding: 10px 16px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  cursor: pointer;
}
.lecture-list .category {
  margin: 10px 0;
  overflow: hidden; /* 넘치는 부분 숨기기 */
  white-space: nowrap;
  position: relative;
}
.lecture-list .category .slides {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap: nowrap;
  width: max-content;
  list-style:none;
}
.lecture-list .category .slides li {
  padding: 10px;
}
.lecture-list .category li:first-child a {
  padding-left: 0;
}
.lecture-list .category .focus {
  border-bottom: 1px solid var(--main);
}
.lecture-list .category .focus a {
  color: var(--main);
}
.lecture-list .page {
  margin-top: 20px;
}
.lecture-list .page ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.lecture-list .page .active .page-link {
  color: var(--main);
}
.page-link {
   padding: 6px 8px;
   color: #555555;
}
.page-link:hover {
   color: var(--main);
}
.page-item.active .page-link {
   background-color: white;
   border-color: var(--main);
}

/* 강의 목록 상품 --------------------------------------------- */
.product {
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.one-product .thumb {
  position: relative;
}
.one-product .thumb img {
  width: 100%;
}
.one-product .thumb a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.one-product .info .title {
  margin: 5px 0;
  line-height: 1.2;
  font-weight: 700;
}
.one-product .sub,
.course-message .one-product .sub {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.one-product .sub .date span {
  margin-left: 5px;
}

/* 강의 상세 정보 --------------------------------------------- */
.lecture-one .product {
  grid-template-columns: repeat(1, 1fr);
}

.lecture-one .product .one-product .thumb img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.lecture-one .product .one-product .thumb a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.lecture-one .one-product .title {
  font-size: 24px;
  margin: 5px 0;
}
.lecture-one .info .category {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}
.lecture-one .info .category .text {
  color: #999;
}
.lecture-one .info .category span {
  color: #999;
}
.lecture-one .info .category span::before {
  content: " > ";
}
.lecture-one .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}
.lecture-one .info .day::before {
  content: "수강기간 - ";
}
.lecture-one .info .time::before {
  content: "총 강의시간 - ";
}
.lecture-one .level::before {
  content: "난이도 - ";
}

.lecture-one .tab {
  display: flex;
  flex-direction: row;
}
.lecture-one .sub-content {
  font-size: 16px;
}
.lecture-one .sub-content .text {
  color: #555;
  line-height: 1.4;
}
.lecture-one .sub-content .recom {
  margin-top: 5px;
}
.lecture-one .tab .intro {
  width: 100%;
  height: 40px;
  border: 1px solid var(--line);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.lecture-one .tab .pick {
  border: 1px solid var(--main);
}

.lecture-one .sub-title {
  font-size: 16px;
  font-weight: 700;
  color: #555;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--line);
  margin-bottom: 10px;
}
.lecture-one .sub-content .writer{
 font-size: 14px;
 color: gray;
}
.lecture-one .sub-content .date {
  font-size: 14px;
  color: #555;
}
.lecture-one .sub-content .wrap {
  margin-bottom: 5px;
}
.lecture-one .sub-content .review-one {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--line);
  margin-bottom: 10px;
}


.lecture-one .page ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.lecture-one .page .active .page-link {
  color: var(--main);
}

/* 챗봇 */
.chat-container {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  position: absolute;
  top: 80px;
  bottom: 160px;
}
.chat-container .chat-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
.chat-container .chat-box .message {
  max-width: 75%;
  padding: 7px 10px;
  margin: 10px 10px 0;
  border-radius: 5px;
  word-wrap: break-word;
  line-height: 1.2;
  border: 1px solid #999;
  background-color: white;
}
.chat-container .chat-box .user-message {
  align-self: flex-end;
}
.chat-container .chat-box .bot-message {
  align-self: flex-start;
}

 .chat-input {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  bottom: 80px;
}
.chat-input input {
  flex: 1;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
}
.chat-input button {
  margin-left: 10px;
  padding: 12px;
  border: none;
  background-color: var(--main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.chat-container .course-message {
  margin: 10px 10px 0;
  line-height: 1.2;
  overflow: unset !important;
}
.chat-container .course-message .product-list {
  gap: 10px;
}
.chat-container .course-message .product-list .one-product {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
}
.course-message .one-product {
  position: relative;
}
.course-message .one-product a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.course-message .one-product .thumb img {
  width: 100%;
  display: block;
}
.course-message .product-list {
  display: flex;
  flex-direction: row;
  width: max-content;
}
.course-message .one-product .info {
  font-size: 14px;
}
.course-message .one-product .info .title {
  margin: 10px 0;
}
.course-message .slides {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap: nowrap;
  width: max-content;
}

.quick-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.quick-button {
  padding: 10px 12px;
  border: none;
  background-color: var(--main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--font--style);
}


.main-container {
  margin: 0 auto;
}
.main-container .main {
  margin-top: 150px;
}
.main-container .main img {
  width: 300px;
}
.banner {
  margin-bottom: -80px;
}
.banner-title {
  margin: 100px 0 20px;
  text-align: center;
  font-size: 18px;
  font-family: var(--font--style);
  font-weight: 500;
}
.swiper {
  width: 100%;
  height: 300px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper-slide img {
  display: block;
  width: 70%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.banner .one-product .thumb img {
  width: 300px;
  margin-bottom: 10px;
}
.banner .one-product .info {
  font-size: 14px;
}
.banner .one-product .info .text {
  width: auto !important;
}
.modal .lecture-one .title {
  text-align: start;
}